* {
  font-family: "inter";
}

.container{
  margin: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 400px;
  min-height: 300px;
  font-size: 20px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 60px;
  text-align: center;
  border: 1px solid black;
  color: black;
}